@font-face {
    font-family: 'Dovemayo_wild';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/Dovemayo_wild.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
html {
    font-family: 'Dovemayo_wild';
    display: flex;
    justify-items: center;
    justify-content: center;
    text-align: center;
}


.temp {
    margin: auto;
}




.main {
    width: 500px;
    height: 500px;
    margin: auto;
}

#view {
    display: flex;
    justify-items: center;
    justify-content: space-between;
    text-align: center;
    width: 500px;
    flex-direction: column;
}

.newDiv2 {
    display: flex;
    justify-items: center;
    justify-content: space-between;
    text-align: center;
}